<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"></link>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div class="jumbotron text-center">
      <h3>Demo Payment Server</h3>
      <p>by Jack Bott (jmb2341)</p>
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    <div class="footer">
      {% block footer %}
      <a href="/">home</a> - 
      <a href="https://github.com/jmbott/demo-payment-server">
        github source
      </a>
      {% endblock %}
    </div>
  </body>
</html>
