{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block content %}
  {% if message is not none %}
  <p><strong>Login unsuccessful: {{ message }}</strong></p>
  {% endif %}
  <form id="login" method="POST">
    E-mail: <input type="email" name="email" />
    <input type="submit" value="Log In" />
  </form>
  <br>
  <p>
    You just need to input an email address that exists in the database to log
    in. If there is a match you get in, if not your attempt will fail.
  </p>
{% endblock %}
