{% extends "base.html" %}
{% block title %}Stripe{% endblock %}
{% block content %}
  {% if message is not none %}
  <p><strong>{{ message }}</strong></p>
  {% endif %}
  <p><a href="/logout">
    <button type="button" onclick="return confirm('Log Out?')" class="logout">
    logout
    </button>
  </a></p>
  <div class="stripe-container">
    <h3>Stripe</h3>
    <p>Here are some Stripe test card numbers</p>
    <table class="table">
      <thead>
        <tr>
          <th>Number</th>
          <th>Brand</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="card-number">4242<span></span>4242<span></span>4242<span></span>4242</td>
          <td>Visa</td>
        </tr>
        <tr>
          <td class="card-number">4000<span></span>0566<span></span>5566<span></span>5556</td>
          <td>Visa (debit)</td>
        </tr>
        <tr>
          <td class="card-number">5555<span></span>5555<span></span>5555<span></span>4444</td>
          <td>Mastercard</td>
        </tr>
        <tr>
          <td class="card-number">3782<span></span>822463<span></span>10005</td>
          <td>American Express</td>
        </tr>
        <tr>
          <td class="card-number">6011<span></span>1111<span></span>1111<span></span>1117</td>
          <td>Discover</td>
        </tr>
      </tbody>
    </table>
    <h5>There are also two types of API keys:
      <a href="https://stripe.com/docs/keys">publishable and secret.</a></h5>
    <ul>
      <li>
        <b>Publishable</b> API keys are meant solely to identify your account with
        Stripe, they aren’t secret. In other words, they can safely be published
        in places like your Stripe.js JavaScript code, or in an Android or iPhone
        app. Publishable keys only have the power to create tokens.
      </li>
      <li>
        <b>Secret</b> API keys should be kept confidential and only stored on your own
        servers. Your account’s secret API key can perform any API request to
        Stripe without restriction.
      </li>
    </ul>
    <h5>There are a few simple verification steps that can be performed:
      <a href="https://stripe.com/docs/disputes/prevention#make-use-of-verification-checks">
        CVC and AVS.</a>
    </h5>
    <ul>
      <li>
        <b>Card verification code check (CVC)</b> (also referred to as CVV)
        is the three- or four-digit number printed directly on the credit card,
        usually either on the signature strip or the front of the card.
      </li>
      <li>
        <b>Address verification (AVS)</b> is comprised of two checks: one
        based on the ZIP code and another based on the billing street address.
      </li>
    </ul>
    <form id="stripeToken" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_I5VYYpQwzPdpAhJ5ygGxLKOW"
        data-amount="999"
        data-name="Demo Payment Server"
        data-description="Example charge"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-zip-code="true">
      </script>
    </form>
  </div>
{% endblock %}
