{% extends "base.html" %}
{% block title %}Twilio{% endblock %}
{% block content %}
  {% if message is not none %}
  <p><strong>{{ message }}</strong></p>
  {% endif %}
  <p><a href="/logout">
    <button type="button" onclick="return confirm('Log Out?')" class="logout">
    logout
    </button>
  </a></p>
  <div class="twilio-container">
    <h3>Twilio</h3>
    <p>Send an SMS with Twilio</p>
    <form method="POST">
      Send SMS: <input type="text" name="twilioMessage" />
      <input type="submit" value="Send" />
    </form>
    <br>
    <p>
      Twilio is secured in a very similar way to Stripe. It uses an account ID
      and a secret key to identify you and verify your action. All values are
      currently stored in the database. In addition you must know the origin
      phone number(s) setup on the indicated account. For test mode you must
      also verify each destination phone number.
    </p>
    <p>
      See the settings page to add or augment keys and recipients. However since
      the test account is only setup for the defined values changing them will
      only lead to a failed attempt.
    </p>
  </div>
{% endblock %}
